*{
    padding: 0;
    margin: 0;
}

@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}
.image-container {
    animation: floatAnimation 4s infinite;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    height: 100vh;
    box-sizing: 0;
}
#corpo-tela-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}
.img-inicio {
    width: 500px;
    height: 500px;
}
#login-corpo {

    background-color: #75b4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
h1 {
    padding-bottom: 5px;
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    color: #ccc;
    margin-bottom: 10px;
}
form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

input:focus {
    outline: 1px solid #9c75f7;
}
form h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #007bff;
}
form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
}
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #3194fd;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
form button:hover {
    background-color: #007bff;
}
.btn-cadastro {

    background-color: #75b4f7;
}
form .btn-cadastro:hover {
    background-color: #1b70ca;
}
.checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 18px;
}
.checkbox-label span {
    margin-right: 5px;
    font-size: 12px;
}
input[id="login"] {
    margin-bottom: 7px;
    border: 1px solid #75b4f7;
}
.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-with-icon {
    padding: 5px 27px ;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid  #75b4f7;
}
.icon {
    position: absolute;
    left: 45px;
    top: 35%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
}
div #area-suporte {
    display: block;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
div i {
    cursor: pointer;
}







#login-corpo .cadastro-corpo{
    background-color: #75b4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 450px;
}
.cadastro-corpo p {

    color: black;
}

#login-corpo .cadastro-corpo .cadastro {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.input-with-icon-r {
    padding-top: 4px;
    padding-bottom:  4px;
    padding-left:  4px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid  #75b4f7;
}

form.recuperar {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

form.ajuda-tela {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.area-duvida{

    width: 250px;
    height: 100px;
}

.input-with-icon-ad {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid  #75b4f7;
}

textarea:focus {
    outline: 1px solid #9c75f7;
}

textarea#area-d{
    resize: none;
    height: 100px;
    width: 250px;
}

.retornoCadastro p {
    margin-bottom: 25px;
    font-size: 13px;
    padding: 10px;
    background-color: #74acdd;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}