*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100vh;
    box-sizing: 0;
}

main {
    height: 100vh;
}

nav{

    background-color: blueviolet;
    height: 100vh;
    width: 300px;
    overflow: hidden;
    border-right: 2px solid black;
}

nav ul li .area-perfil-usuario {

    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil-menu {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 12px;

}

.perfil-menu img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

nav:hover{
    
}


