*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100vh;
    box-sizing: 0;
}

main {
    height: 100vh;
}

nav{

    background-color: #75b4f7;
    height: 100vh;
    width: 300px;
    overflow: hidden;
    box-shadow: none;
}

nav ul li .area-perfil-usuario {

    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.b-v {
    color: white;
    font-size: 13px;
    margin-bottom: 7px;
}
p.b-n {
    font-size: 16px;
}
p.b-c {
    font-size: 9px;
}

.perfil-menu {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 12px;

}

.dados-logado {
    margin-bottom: 10px;
}

.perfil-menu img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

li a {
    text-decoration: none;
}

.atalhos {
    list-style-type: none;
    margin-bottom: 25px;
}

nav:hover {
    width: 300px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
    
}



